---
layout: default
---

<main class="container max-w-6xl mt-6 px-6" columns="">
  <header class="mati-w-screen px-12 mb-12 relative 
      flex justify-center items-center 
      h-96 xl:h-144
      overflow-hidden">    
    <div class="flex flex-col space-y-3 items-center">
      <div class="flex font-fancy text-lg text-shady-pink-dark">
        {% for category in tags %}
          {% if category !== 'post' %}
            <a class="hover:text-gray-300" href="/tags/{{category | lowercase}}" rel="tag">
              {{ category }}
            </a>
            {% if not loop.last %}
              <span class="whitespace-pre-wrap">, </span>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <h1 class="font-serif uppercase text-2xl font-semibold md:font-normal md:text-5xl tracking-wide">{{ title }}</h1>
      <time class="uppercase text-xs text-neutral-400 font-sans2 tracking-wide" datetime="{{date}}">
        {{ date | readableDate }}
      </time>
    </div>
    <img class="-z-20 absolute left-0 top-1/2 -translate-y-1/2 right-0 w-full h-auto" src="{{image}}" alt="" />
    <div class="-z-10 absolute left-0 top-0 bottom-0 right-0 bg-white/80"></div>
  </header>
  <div class="flex gap-16">
    <article class="w-3/4 prose prose-neutral 
      prose-img:max-h-192 prose-img:w-auto prose-img:mx-auto 
      prose-a:text-shady-pink prose-a:no-underline
      prose-h2:font-serif prose-h2:text-3xl prose-h2:tracking-wide
      max-w-none"
    >
      {{ content | dropcap | safe }}
    </article>
    <!-- TODO: reactive design -->
    <aside class="w-1/4 h-xl text-center">
      <section>
        <h2 class="font-serif uppercase tracking-wide text-neutral-900 relative pb-2 mb-6
        after:border-t after:w-4 after:border-neutral-900 
        after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0">
          {{about_me.title}}
        </h2>
        <img eleventy:widths="300" class="w-5/6 h-auto rounded-full mx-auto mb-4" src="{{about_me.image}}" alt="Marzena, blog author" />
        <p class="text-neutral-700 text-sm/loose">{{about_me.description}}</p>
      </section>
    </div>
  </div>
</main> 