---
layout: default
---

<main class="container max-w-6xl mt-6 px-6" columns="">
  <header class="mati-w-screen px-12 mb-12 relative 
      flex justify-center items-center 
      h-96 xl:h-144
      overflow-hidden">    
    <div class="flex flex-col space-y-3 items-center">
      <div class="flex font-fancy text-lg text-shady-pink-dark">
        {% for category in tags %}
          {% if category !== 'post' %}
            <a class="hover:text-gray-300" href="/tags/{{category | lower}}" rel="tag">
              {{ category }}
            </a>
            {% if not loop.last %}
              <span class="whitespace-pre-wrap">, </span>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <h1 class="font-serif uppercase text-2xl font-semibold md:font-normal md:text-5xl tracking-wide">{{ title }}</h1>
      <time class="uppercase text-xs text-neutral-400 font-sans2 tracking-wide" datetime="{{date}}">
        {{ date | readableDate }}
      </time>
    </div>
    <img class="-z-20 absolute left-0 top-1/2 -translate-y-1/2 right-0 w-full h-auto" src="{{image}}" alt="" />
    <div class="-z-10 absolute left-0 top-0 bottom-0 right-0 bg-white/80"></div>
  </header>
  <div class="flex gap-16">
    <article class="w-3/4 prose prose-neutral 
      prose-img:max-h-192 prose-img:w-auto prose-img:mx-auto 
      prose-a:text-shady-pink prose-a:no-underline
      prose-h2:font-serif prose-h2:text-3xl prose-h2:tracking-wide
      max-w-none"
    >
      {{ content | dropcap | safe }}
    </article>
    <!-- TODO: reactive design -->
    <!-- TODO: sticky sidebar -->
    <aside class="w-1/4 text-center">
      <section class="border-b border-neutral-400 border-dashed pb-8 mb-8">
        <h2 class="font-serif text-xl uppercase tracking-wide text-neutral-900 relative pb-2 mb-6
        after:border-t after:w-4 after:border-neutral-900 
        after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0">
          {{about_me.title}}
        </h2>
        <img eleventy:widths="300" class="w-5/6 h-auto rounded-full mx-auto mb-4" src="{{about_me.image}}" alt="Marzena, blog author" />
        <p class="text-neutral-700 text-sm/loose">{{about_me.description}}</p>
      </section>
      <section class="border-b border-neutral-400 border-dashed pb-8 mb-8">
        <a href="{{sidebar_banner.url}}">
          <img eleventy:widths="300" class="w-full h-auto" src="{{sidebar_banner.image}}" alt="{{sidebar_banner.alt}}" />
        </a>
      </section>
      <section class="flex place-content-center gap-4 -mt-2
        border-b border-neutral-400 border-dashed pb-6 mb-8">
        <a href="{{settings.facebook_url}}" rel="external">
          <!-- TODO alt text should be translated -->
          <img class="box-content w-4 p-2" src="/static/img/FB.svg" alt="Facebook icon" />
        </a>
        <a class="box-content w-4 p-2" href="{{settings.instagram_url}}" rel="external">
          <!-- TODO alt text should be translated -->
          <img src="/static/img/IG.svg" alt="Instagram icon" />
        </a>
        <a class="box-content w-4 p-2" href="{{settings.ravelry_url}}" rel="external">
          <!-- TODO alt text should be translated -->
          <img src="/static/img/Rav.svg" alt="Ravelry icon"/>
        </a>
      </section>
      <section>
        <h2 class="font-serif text-xl uppercase tracking-wide text-neutral-900 relative pb-2 mb-6
        after:border-t after:w-4 after:border-neutral-900 
        after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-0">
          {{recent_patterns.title}}
        </h2>
        <div x-data="{
          size: {{collections.pattern | head(3) | length}},
          timeoutId: null,
          currentIndex: 0,
          items: [],
          compute: function(newIndex) {
            if(this.timeoutId != null) {
              clearTimeout(this.timeoutId);
            }
            let oldIndex = this.currentIndex;
            this.currentIndex = (newIndex + this.size) % this.size;
            for(let i=0;i&lt;this.size;i++) {
              this.items[i] = {
                translateX: ((this.size + i + (1 - this.currentIndex)) % this.size - i - 1) * 100,
                classes: (i == oldIndex || i == this.currentIndex) ? 'transition-transform' : '',
              }
            }
            this.timeoutId = setTimeout(() => this.compute(this.currentIndex + 1), 5000)
          }
        }"
        x-init="compute(0)">
          <div class="overflow-hidden flex relative mb-2">
            {% for pattern in collections.pattern | reverse | head(3) %}
              <a href="{{pattern.url}}" class="block shrink-0 w-full" x-data="{myIndex: {{loop.index - 1 }}}" 
                style="transform: translate({{((loop.index-1) % 3 - 1) * 100}}%)"
                x-bind:class="items[myIndex].classes"
                x-bind:style="'transform: translate(' + items[myIndex].translateX + '%)'">
                <img eleventy:widths="300" class="w-full h-auto hover:scale-110 transition-transform delay-100 duration-500" src="{{pattern.data.image}}" alt="{{pattern.data.alt}}" />
              </a>
            {% endfor %}
            <button class="absolute text-white text-lg size-8 -mt-4 left-2 top-1/2 bg-shady-pink/70 hover:bg-shady-pink-dark/70" @click.prevent="compute(currentIndex - 1)">&lt;</button>
            <button class="absolute text-white text-lg size-8 -mt-4 right-2 top-1/2 bg-shady-pink/70 hover:bg-shady-pink-dark/70" @click.prevent="compute(currentIndex + 1)">&gt;</button>
          </div>
          <div class="overflow-hidden flex">
            {% for pattern in collections.pattern | reverse | head(3) %}
              <a href="{{pattern.url}}" class="block shrink-0 w-full text-neutral-900 hover:text-shady-pink" x-data="{myIndex: {{loop.index - 1 }}}" 
                style="transform: translate({{((loop.index-1) % 3 - 1) * 100}}%)"
                x-bind:class="items[myIndex].classes"
                x-bind:style="'transform: translate(' + items[myIndex].translateX + '%)'">
                <h3 class="font-serif tracking-wide text-lg font-normal mb-1">{{pattern.data.name}}</h3>
              </a>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div> 
</main>  